* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #14120b;
  color: #ffffff;
  line-height: 1.6;
}

.navbar {
  background-color: #13120a;
  padding: 6px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor-logo {
  padding: 10px;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 40px;
  color: #ebebea;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-links a {
  font-size: 15px;
}

.nav-links a:hover {
  color: #888;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.signin-button {
  font-size: 15px;
  border: 1px solid #3f3e37;
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 14px;
}

.signin-button:hover {
  color: #888;
}

.download-button {
  background-color: #ebebea;
  color: #000;
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 14px;
}

/* hero section */

.hero-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 40px 60px;
}

.hero-content {
  text-align: left;
  margin-bottom: 60px;
}

.hero-heading {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  max-width: 900px;
}

.hero-button {
  background-color: #ffffff;
  color: #000;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
}

.download-arrow {
  font-size: 22px;
}

.hero-image {
  width: 100%;
  background: url(./assets/hero-section-bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 40px;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-image-1 {
  max-width: 84%;
  height: auto;
  border-radius: 10px;
}

.hero-image-2 {
  max-width: 32%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 44%;
  left: 64%;
}

/* Trusted brand section */

.trusted-brand {
  max-width: 1400px;
  margin: 80px auto;
  padding: 0 40px;
  text-align: center;
}

.trusted-text {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 40px;
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo-item {
  background-color: #1b1912;
  padding: 24px 12px;
  border-radius: 5px;
  border: 1px solid #201e17;
  letter-spacing: 1px;
  flex: 1;
  min-width: 120px;
}

.logo-img {
  width: 8vw;
  height: 5vh;
}

/* Feature section */

.feature-section {
  max-width: 1355px;
  margin: 120px auto;
  padding: 24px;
  background-color: #1b1912;
  border-radius: 6px;
}

.feature-section.dark {
  background-color: #1b1912;
}

.feature-container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.feature-container .reverse {
  flex-direction: row-reverse;
}

.feature-text {
  flex: 1;
}

.feature-text h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.2;
}

.feature-text p {
  font-size: 19px;
  color: #aaa;
  margin-bottom: 30px;
  line-height: 1.6;
}

.feature-link {
  color: #ff6b35;
  font-size: 16px;
  font-weight: 400;
}

.feature-image {
  width: 50vw;
  background: url(./assets/feature-section-bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 30px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.feature-dark {
  width: 50vw;
  background: url(./assets/feature-section-bg-img-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 30px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-beach {
  width: 50vw;
  background: url(./assets/feature-section-bg-img-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 30px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.feature-img1 {
  position: absolute;
  width: 32vw;
  top: 6%;
  left: 6%;
  border-radius: 5px;
}

.feature-img2 {
  position: absolute;
  width: 32vw;
  top: 36%;
  left: 17%;
}

.feature-img {
  width: 40vw;
  border-radius: 5px;
}

.feature-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}





