* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #14120b;
  color: #ffffff;
  line-height: 1.6;
}

.navbar {
  background-color: #13120a;
  padding: 6px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor-logo {
  padding: 10px;
  border-radius: 5px
}

.nav-links {
  display: flex;
  gap: 40px;
  color: #ebebea;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-links a {
  font-size: 15px;
}

.nav-links a:hover {
  color: #888;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.signin-button {
  font-size: 15px;
  border: 1px solid #3f3e37;
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 14px;
}

.signin-button:hover {
  color: #888;
}


.download-button {
  background-color: #ebebea;
  color: #000;
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 14px;
}